@use 'foundation' as *;
.c-tel {
  text-align: center;
  padding: 0 0 prem(9);
  border-radius: prem(40);
  background-color: $color-white;
  border: prem(3) solid $color-orange;
  display: inline-block;
  min-width: prem(311);
  @include mq("md") {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    border: none;
    min-width: initial;
  }
}

.c-tel__top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: prem(4);
  img{
    transform: translateY(10px);
  }
}

.c-tel__num {
  font-size: prem(20);
  font-weight: $bold;
  color: $color-orange;
  @include mq("md") {
    font-size: prem(28);
    color: $color-black;

  }
}

.c-tel__time {
  font-size: prem(12);
  line-height: 1;
  padding-left: prem(45);
  margin-top: prem(-2);
  @include mq("md") {
    padding-left: 0;
  }
}
