@use 'foundation' as *;

.c-title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: prem(5);
}

.c-title__en {
  font-weight: $regular;
  font-size: prem(20);
  font-family: $font-family-en;
  color: $color-orange;
  line-height: 1;
}

.c-title__ja {
  font-size: prem(24);
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: .03em;
  @include mq("md") {
    letter-spacing: .1em;
    font-size: prem(32);
  }
}
