<footer class="p-footer">
  <!-- 代表者紹介 -->
  <section class="ceo" id="ceo">
    <div class="ceo__inner l-inner">
      <div class="ceo__img">
        <picture>
          <source
            srcset="../public/assets/images/img-ceo-takegami-sp.jpg"
            media="(max-width:768px)"
          />
          <img
            src="../public/assets/images/img-ceo-takegami-pc.jpg"
            alt="代表取締役社長　竹上創"
          />
        </picture>
      </div>
      <div class="ceo-wrap">
        <hgroup class="ceo__head">
          <span>CEO</span>
          <h2>代表者紹介</h2>
          <h3>代表取締役社長　竹上 創</h3>
        </hgroup>
        <p>
          オリンパス、ユニクロ、アンダーアーマー、エディー・バウアー・ジャパン、エアウィーヴなど複数企業で経営戦略、事業戦略、商品企画、マーケティングに携わる。乏しいリソース（ヒト・モノ・カネ・情報）から新事業、新ブランドを立上げ、強いブランドへと導く。スタートアップ、中小企業から大企業まで、企業規模や特定の業界に限定されない普遍的な知見・実績を持つ。<br />
          資格：MBA（シカゴ大学経営大学院）、中小企業診断士、睡眠健康指導士など。
        </p>
        <a href="" class="c-btn c-btn__sm"
          >代表プロフィールへ<span
            ><img
              src="../public/assets/images/common/icon-arrow-right.svg"
              alt="矢印" /></span
        ></a>
        <span class="ceo__img-txt">
          <picture>
            <source
              srcset="../public/assets/images/img-text-ceo-takegami-sp.svg"
              media="(max-width:768px)"
            />
            <img
              src="../public/assets/images/img-text-ceo-takegami.svg"
              alt="Takegami Hajime"
            /> </picture
        ></span>
      </div>
    </div>
  </section>
  <section class="p-footer__service">
    <div class="p-footer__service__inner">
      <h2 class="">
        TSMマネジメントの<br class="forSP" /><span>3つのサービス</span>
      </h2>
      <p>貴社のマーケティング課題を解決する3つのサービス。</p>
      <div class="footer__service__wrap">
        <ul>
          <li>
            <a href="">
              <img
                src="../public/assets/images/img-footer-consul.png"
                alt="コンサルティング"
              />
              <h3>コンサルティング</h3>
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../public/assets/images/img-footer-advisor.png"
                alt="顧問"
              />
              <h3>顧問</h3>
            </a>
          </li>
          <li>
            <a href="">
              <img
                src="../public/assets/images/img-footer-seminar.png"
                alt="研修・セミナー"
              />
              <h3>研修・セミナー</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="p-footer__contact">
    <div class="p-footer__contact__inner">
      <div class="contact__wrap">
        <div class="wrap_left">
          <h2 class="">CONTACT</h2>
          <p>
            スタートアップから大企業まで。<br />
            マーケティングのことなら弊社にご相談ください。
          </p>
        </div>
        <div class="wrap_right">
          <button class="">無料経営相談窓口</button>
          <a ref="">お問合せはこちら </a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-footer__nav">
    <nav>
      <div class="p-footer__nav__inner">
        <a class="back-to-top" href="/"></a>
        <ul class="p-footer__nav__items">
          <li class="p-footer__nav__item">
            <span><a href="/">HOME</a></span>
          </li>

          <li class="p-footer__nav__item js-footer-ac-title">
            <span>サービス</span>
            <ul class="p-footer__nav__hovers js-footer-ac-items">
              <li class="p-footer__nav__hover">
                <a href="" role="menuitem">コンサルティング</a>
              </li>
              <li class="p-footer__nav__hover">
                <a href="" role="menuitem">顧問</a>
              </li>
              <li class="p-footer__nav__hover">
                <a href="" role="menuitem">研修・セミナー</a>
              </li>
            </ul>
          </li>

          <li class="p-footer__nav__item js-footer-ac-title">
            <span>3つの特徴</span>
            <ul class="p-footer__nav__hovers js-footer-ac-items">
              <li class="p-footer__nav__hover">
                <a href="" role="menuitem">圧倒的な実績</a>
              </li>
              <li class="p-footer__nav__hover">
                <a href="" role="menuitem">強いブランド作り</a>
              </li>
              <li class="p-footer__nav__hover">
                <a href="" role="menuitem">立ち上げのスキル</a>
              </li>
            </ul>
          </li>
          <li class="p-footer__nav__item">
            <span><a href="/faq">実績</a></span>
          </li>
          <li class="p-footer__nav__item js-footer-ac-title">
            <span>当社について</span>
            <ul class="p-footer__nav__hovers js-footer-ac-items">
              <li class="p-footer__nav__hover">
                <a href="" role="menuitem">会社概要</a>
              </li>
              <li class="p-footer__nav__hover">
                <a href="" role="menuitem">プロフィール・想い</a>
              </li>
              <li class="p-footer__nav__hover">
                <a href="" role="menuitem"
                  >当社の考える<br />
                  マーケティングとは</a
                >
              </li>
            </ul>
          </li>

          <li class="p-footer__nav__item">
            <span><a href="/faq">よくある質問</a></span>
          </li>
          <li class="p-footer__nav__item">
            <span><a href="/news">お知らせ</a></span>
          </li>
          <li class="p-footer__nav__item">
            <span><a href="/contact">お問い合わせ</a></span>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <div class="p-footer__logo">
    <img src="../public/assets/images/common/logo.svg" alt="TSMマネジメント" />
  </div>
  <div class="p-copy">
    <small
      >C
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      TSM Management Inc. All Rights Reserved.</small
    >
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script type="module" src="./js/main.js"></script>
