<header class="p-header js-header">
  <div class="l-inner p-header__inner">
    <div class="p-header__body forPC">
      <div class="p-header__logo">
        <a href="#" class="p-header__logo-link">
          <img src="./assets/images/logo.svg" width="212" height="48" alt="" />
        </a>
        <p>マーケティングコンサルティング</p>
      </div>
      <nav class="p-header__nav">
        <ul class="p-header__items">
          <li class="p-header__item js-hover">
            <a href="/service" class="p-header__link">サービス</a>
          </li>
          <li class="p-header__item">
            <a href="#step" class="p-header__link js-hover">3つの特徴</a>
          </li>
          <li class="p-header__item">
            <a href="#voice" class="p-header__link js-hover">実績</a>
          </li>
          <li class="p-header__item">
            <a href="#faq" class="p-header__link js-hover">当社について</a>
          </li>
          <li class="p-header__item">
            <a href="#faq" class="p-header__link">よくあるご質問</a>
          </li>
          <li class="p-header__item">
            <a href="#faq" class="p-header__link">お問い合わせ</a>
          </li>
          <li class="p-header__item">
            <a href="#" class="c-btn__link">
              <span class="c-btn__link-text">無料経営相談窓口</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
