@use 'foundation' as *;


.p-feature {
  padding: prem(56) 0;
  background-color: #F9F9F9;
  position: relative;
  @include mq("md") {
    padding: prem(72) 0 prem(80);

  }
  &::before{
    pointer-events: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../images/top/dotted-pattern.png") repeat;
  }
}

.p-feature__list {
  margin-top: prem(24);
  @include mq("md") {
    margin-top: prem(40);
  }
}

.p-feature__item + .p-feature__item{
  margin-top: prem(32);
  @include mq("md") {
    margin-top: prem(48);
  }
}

.p-feature__item {
  position: relative;
  border-radius: prem(24);
  padding: prem(32) prem(15);
  @include mq("md") {
    padding: prem(8) prem(80) prem(48);

  }
  &:nth-child(1){
    background: linear-gradient(45deg, #F0EAB3 11.68%, #FFE2C6 54.7%, #FFDADD 100.38%);

    .p-feature__item-text span{
      color: $color-orange;
    }
  }
  &:nth-child(2) {
    background: linear-gradient(45deg, #D3EDBE 12.71%, #FFF1A6 83.54%);
    .p-feature__item-num{
      &::before{
        background-image: url("../images/top/point-title02-bg.png");
        top: 45%;
      }
    }
  }

  &:nth-child(3) {
    background: linear-gradient(45deg, #BDD8FF 20.52%, #C6EDBE 86.71%);
    .p-feature__item-num{
      &::before{
        background-image: url("../images/top/point-title03-bg.png");
        top: 40%;
      }
    }
  }

}

.p-feature__item-head {
  @include mq("md") {
    display: flex;
    gap: prem(19);
    align-items: flex-end;
  }
}

.p-feature__item-num {
  font-weight: $semi-bold;
  font-family: $font-family-num;
  line-height: 1;
  letter-spacing: .08em;
  z-index: 2;
  position: absolute;
  top: prem(-5);
  left: prem(5);
  font-size: prem(18);
  @include mq("md") {
    font-size: prem(16);
    position: relative;
  }
  &::before{
    position: absolute;
    content: "";
    height: prem(110);
    width: prem(116);
    background: url("../images/top/point-title01-bg.png") no-repeat center center / cover;
    z-index: -1;
    top: 25%;
    left: 15%;
    transform: translate(-50%,-50%);
    @include mq("md") {
      bottom: prem(-5);
      right: 0;
      height: prem(110);
      width: prem(114);
    }
  }
  span{
    letter-spacing: 0;
    display: block;
    font-size: prem(64);
    @include mq("md") {
      font-size: prem(72);

    }
  }
}

.p-feature__item-title {
  position: relative;
  font-size: prem(20);
  font-weight: $bold;
  text-align: center;
  @include mq("md") {
    text-align: left;
    font-size: prem(32);

  }
  span{
    font-size: prem(20);
  }
}

.p-feature__item-body {
  margin-top: prem(24);
  display: flex;
  flex-direction: column;
  gap: prem(16);
  @include mq("md") {
    margin-top: prem(32);
    flex-direction: row;
    gap: prem(24);

  }
}

.p-feature__item-text {
  span{
    font-weight: $bold;
  }
}

.p-feature__item-img {
  width: 100%;
  border-radius: prem(16);
  overflow: hidden;
  @include mq("md") {
    max-width: prem(200);
  }
  img{
    border-radius: prem(8);
    width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 315/220;
      @include mq("md") {
        aspect-ratio: 200/140;

      }
  }
}

.p-feature__structure {
  margin-top: prem(32);
  @include mq("md") {
    margin-top: prem(24);
    padding-left: prem(20);
  }
}

.p-feature__structure__title {
  font-size: prem(18);
  font-weight: $bold;
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
  span{
    padding-right: prem(16);
    position: relative;
    &::before{
      position: absolute;
      content: '';
      top: 50%;
      left: 100%;
      @include mq("md") {

        width: prem(488);
      }
      height: prem(2);
      transform: translateY(-50%);
      background: url("../images/top/feature-dotted.png") repeat-x;
    }
  }
}

.p-feature__structure__body {
  margin-top: prem(4);
  display: flex;
  align-items: center;
  gap: prem(12);
  @include mq("md") {
    gap: prem(16);

  }
}

.p-feature__structure__img {
  width: 100%;
  max-width: prem(42);
  img{
    width: 100%;
    object-fit: contain;
    aspect-ratio: 42/42;
  }
}

.p-feature__step {
  margin-top: prem(24);
  padding: prem(24) prem(15);
  border-radius: prem(24);
  background-color: $color-white;
  @include mq("md") {

    margin-top: prem(40);
    padding: prem(24) prem(56) prem(32);
  }
}


.p-feature-step__head {
  font-size: prem(20);
  text-align: center;
  font-weight: $bold;
  @include mq("md") {
    text-align: left;
    font-size: prem(24);

  }
}


.p-feature-step__list {
  padding-left: prem(24);
  margin-top: prem(18);
  @include mq("md") {
    padding-left: prem(20);
    margin-top: prem(16);

  }
}
.p-feature-step__item + .p-feature-step__item{
  margin-top: prem(32);
  @include mq("md") {
    margin-top: prem(20);
  }
}
.p-feature-step__title{
  padding-left: prem(8);
  font-size: prem(18);
  font-weight: $bold;
  padding-bottom: prem(10);
  @include mq("md") {
    padding-left: prem(16);
  }
  position: relative;
  &::after{
    position: absolute;
    content: '';
    top: 42%;
    left: prem(-24);
    transform: translateY(-50%);
    width: prem(16);
    height: prem(16);
    border-radius: 50%;
    background-color: $color-white;
    border: 1px solid $color-black;
    z-index: 5;
  }
  &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: prem(2);
    bottom: 0;
    left: 0;
    background: url("../images/top/feature-dotted.png") repeat-x;
  }
  span{
    display: inline-block;
    padding-right: prem(8);
    font-size: prem(20);
    transform: translateY(1.8px);
    @include mq("md") {

      font-size: prem(24);
    }
  }
}

.p-feature-step__item {

  .p-feature__item-text{
    margin-top: prem(8);
    padding-left: prem(8);
    @include mq("md") {
      padding-left: prem(16);
    }
    position: relative;
    &::before{
      position: absolute;
      content: '';
      top: prem(-25);
      left: prem(-16);
      transform: translateX(-50%);
      width: prem(3);
      height: 230%;
      @include mq("md") {
        top: prem(-30);
      }
      background-color: $color-black;
    }
  }
    &:first-child .p-feature-step__title{
    &::after{
      background-color: $color-black;
    }
  }
  &:last-child .p-feature-step__title{
    color: $color-orange;
    &::after{
      background-color: $color-orange;
      border-color: $color-orange;
      z-index: 3;
    }
  }
  &:last-child .p-feature__item-text{
    &::before{
      background-color: $color-white;
      z-index: 2;
      width: prem(10);
    }
  }
}

.p-feature__support {
  position: relative;
  z-index: 3;
  border-radius: prem(16);
  border: 1px solid $color-orange;
  margin-top: prem(38);
  padding: 0 prem(15) prem(20);
  @include mq("md") {
    text-align: center;

    margin-top: prem(46);
    padding: 0 prem(15) prem(24);
  }

}

.p-feature__support-title {
  margin: prem(-18) auto prem(13);
  text-align: center;
  white-space: nowrap;
  span{
    font-size: prem(16);
    font-weight: $bold;
    border-radius: prem(24);
    padding: prem(4) prem(16);
    color: $color-white;
    @include mq("md") {
      font-size: prem(18);
      padding: prem(4) prem(20);

    }
    background-color: $color-orange;
  }
}
