@use 'foundation' as *;


.p-fixed-btn{
  position: fixed;
  background-color: rgba($color: #fff, $alpha: .9);
  left: 0;
  z-index: 98;
  right: 0;
  bottom: 0;
  .c-btn__box{
    display: flex;
    margin-top: 0;
    flex-direction: row-reverse;
    padding: prem(12);
    gap: prem(8);
    @include mq("md") {
      display: none;
    }
    .c-tel__num{
      @media screen and (max-width: 768px) {
        font-size: prem(12);
        line-height: calc(15.6/12);
        color: $color-orange;
      }
    }
    .c-btn__link,.c-tel{
      @media screen and (max-width: 768px) {
        padding: prem(8);
        min-width: initial;
        gap: prem(4);
        margin-top: 0;
        width: 100%;
      }
    }
    .c-btn__tel, .c-btn__link{
      width: 50%;

    }
    .c-tel__top img{
      @media screen and (max-width: 768px) {
        transform: none;
        max-width: prem(18);
        height: auto;
      }

    }
    .c-btn__link-text{
      @media screen and (max-width: 768px) {
        font-size: prem(12);
        line-height: calc(15.6/12);
      }
    }
  }
}
