@use '../../foundation/index' as *;

//フッター
.p-footer {
  &__service {
    padding: 5rem 0;

    &__inner {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;

      h2 {
        font-family: "Zen Old Mincho";
        font-size: 28px;
        font-weight: $medium;
        margin-bottom: 0.75rem;

        span {
          color: $red-600;
        }
      }
    }
  }

  .service__wrap {
    margin-top: 2rem;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1.25rem;
    }

    li {
      background: $gray-50;
      border-radius: 0.75rem;
      padding: 2rem 2.5rem;
      width: 32%;
      position: relative;
      overflow: hidden;

      &::before {
        position: absolute;
        right: -40px;
        bottom: -40px;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: #DF2238;
        content: "→";
        color: #fff;
        font-size: 1rem;
        padding: 10px 32px 0 0;
      }

      img {
        width: 150px;
        height: 102px;
        margin: 0 auto 0.75rem;
      }

      h3 {
        font-family: "Zen Old Mincho";
        color: $red-600;
        font-size: 1.25rem;
        line-height: 1.3;
        font-weight: $medium;
      }
    }
  }

  &__contact {
    width: 100vw;
    max-height: 356px;
    background: url(../public/assets/images/img-footer-bg-pc.jpg)no-repeat center/cover;

    &__inner {
      padding: 104px 0;
    }
  }

  .contact__wrap {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 70px;

    .wrap_left {
      color: #fff;

      h2 {
        font-family: Poppins;
        font-size: 5.5rem;
        font-weight: $regular;
        line-height: 1;
        margin-bottom: 0.75rem;
      }

      p {
        font-size: 0.875rem;
        font-weight: $regular;
      }
    }

    .wrap_right {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      button {
        width: 400px;
        padding: 2rem 1rem;
        border-radius: 52px;
        border: 1px solid $white;
        background: rgba(255, 255, 255, 0.10);
        color: $white;
        font-size: 1.25rem;
        font-weight: $bold;
      }

      a {
        color: $white;
        text-align: center;
        text-decoration: underline;
        font-weight: $regular;
        font-size: 0.875rem;
      }
    }
  }

  &__nav {
    &__inner {
      padding: 112px 220px 40px;
    }

    &__items {
      display: flex;
      flex-direction: column;
      column-gap: 2.5rem;
      flex-wrap: wrap;
      max-height: 230px;
    }

    &__item {
      a {
        line-height: 1.3;
      }

      span {
        display: block;
        padding-bottom: 0.75rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $gray-100;
        font-weight: $bold;
        line-height: 1.3;
        position: relative;

        &::after {
          content: "";
          background: url(../public/assets/images/icon-arrow-right.svg) no-repeat top/cover;
          width: 14px;
          height: 12px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.2s;
        }
      }
    }

    &__hover {
      padding-bottom: 0.75rem;
    }
  }

  .p-copy {
    small {
      display: block;
      font-size: 0.75rem;
      text-align: center;
      color: #fff;
      font-size: 0.75rem;
      background: $black-950;
      padding: 0.75rem 0;
    }
  }
}