@use '../../foundation/index' as *;
@use '../../object/component/button' as *;

// 個人情報保護方針
.p-page__head {
    &-sub {
        width: 100vw;
        margin: 0 calc(50% - 50vw) 48px;
        position: relative;
        z-index: 1;
    }
}

.page-privacy-content {
    section {
        background-color: $bg-white;
        padding: 64px;

        &:not(:last-of-type) {
            margin-bottom: 40px;
        }

        @include mq('md') {
            padding: 3.2rem 2.4rem 4rem;
        }
    }

    h2 {
        z-index: 0;
        position: relative;
        margin-top: 24px;
        margin-bottom: 32px;
        padding-top: 32px;
        border-top: 1px solid #EFEFEF;
        color: #161A1E;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.7;
        font-family: "Zen Old Mincho", serif;

        @include mq('md') {
            margin-bottom: 2.4rem;
        }

        &::before {
            z-index: 1;
            position: absolute;
            top: -1px;
            left: 0;
            width: 75px;
            height: 1px;
            background: #DF2238;
            content: "";
        }
    }

    .policy__txt {
        p {
            line-height: 2;

            &.mb-32 {
                margin-bottom: 32px;
            }

            &.align-end {
                text-align: end;
            }
        }

        &-name {
            text-align: end;
            margin-top: 32px;
        }

        dl {
            margin-bottom: 48px;
        }

        dt {
            h3 {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.7;
                padding: 8px 0 20px;
            }
        }
    }
}