@use '../../foundation/index' as *;
@use '../../object/component/button' as *;

// 代表プロフィール・思い
.p-page__head {
    &-sub {
        width: 100vw;
        margin: 0 calc(50% - 50vw) 48px;
        position: relative;
        z-index: 1;
    }
}

.page-prolile-content {
    section {
        background-color: $bg-white;
        padding: 48px 64px 64px;

        @include mq('md') {
            padding: 3.2rem 2.4rem 4rem;
        }

        &:not(:last-of-type) {
            margin-bottom: 40px;

            @include mq('md') {
                margin-bottom: 2.4rem;
            }
        }
    }

    h2 {
        z-index: 0;
        position: relative;
        margin-top: 24px;
        margin-bottom: 32px;
        padding-top: 32px;
        border-top: 1px solid #EFEFEF;
        color: #161A1E;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.7;
        font-family: "Zen Old Mincho", serif;

        @include mq('md') {
            margin-bottom: 2.4rem;
        }

        &::before {
            z-index: 1;
            position: absolute;
            top: -1px;
            left: 0;
            width: 75px;
            height: 1px;
            background: #DF2238;
            content: "";
        }
    }


    .profile-name {

        margin-bottom: 4rem;

        .name__wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 48px;
            position: relative;

            @include mq('md') {
                flex-direction: column;
                justify-content: flex-start;
                gap: 1.6rem;
            }

            &-img {
                width: 393px;
                height: 285px;

                @include mq('md') {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 279/202.328;
                }
            }

            &-txt {
                width: calc(100% - 393px);
                font-size: 32px;
                font-family: $font-family-head;

                span {
                    font-size: 18px;
                    font-weight: 500;
                    padding-right: 16px;
                }

                @include mq('md') {
                    width: 100%;
                    font-size: fs(24);

                    span {
                        font-size: fs(16);
                    }
                }
            }

            .ceo__img-txt {
                position: absolute;
                width: 400px;
                top: -52px;
                right: -32px;

                @include mq('md') {
                    display: none;
                }
            }
        }
    }

    // 代表プロフィール
    .profile-ceo {
        .ceo__wrap {
            display: flex;
            flex-direction: column;
            gap: 56px;

            @include mq('md') {
                gap: 3.2rem;
            }
        }

        .ceo__wrap__list {
            h3 {
                font-size: 18px;
                font-weight: 500;
                padding: 8px 0 20px;
            }

            li {
                list-style: disc;
                line-height: 2;
                margin-left: 1.5em;
            }
        }
    }

    // 思い
    .profile-thought {
        p {
            line-height: 2;
            margin-bottom: 40px;
        }

        .c-btn__secondary {
            margin: 0 auto;
        }
    }
}