@use 'foundation' as *;



.p-schedule__body {
  padding: prem(40) prem(15);
  background-color: #FFF9ED;
  border-radius: prem(40);
  @include mq("md") {
    padding: prem(48);
  }
}

.p-schedule__img {
  margin: prem(32) auto 0;
  width: 100%;
  max-width: prem(654);
  img{
    width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 315/88;
      @include mq("md") {
        aspect-ratio: 654/182;
      }
  }
}

.p-schedule__example {
  margin: prem(24) auto 0;
  width: 100%;
  max-width: prem(904);
  @include mq("md") {
    margin: prem(48) auto 0;

  }
  img{
    width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 315/432;
      @include mq("md") {
        aspect-ratio: 904/184;

      }
  }
}

.p-schedule__btnWrap{
  margin-top: prem(48);
  @include mq("md") {
    margin-top: prem(64);

  }
}
