@use '../../foundation/index' as *;
@use '../../object/component/button' as *;

// TOPページ

.page-top {
  background: #fff;

  h2 {
    font-family: "Zen Old Mincho";
    font-size: 36px;
    font-weight: 400;
    line-height: 170%;

    @include mq('md') {
      font-size: fs(26);
    }

    strong {
      color: $text-red-600;
      font-weight: 400;
    }
  }
}

.mv {
  margin: 80px auto 104px;

  @include mq("md") {
    margin: 6rem auto 11.2rem;
    position: relative;
  }

  &__inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px clamp(24px, 11.66%, 168px) 48px;
    display: flex;
    justify-content: space-between;

    @include mq("md") {
      padding: 5.6rem 2.4rem 4rem;
      flex-direction: column;
      width: 100vw;
    }

    &-text {
      p {
        margin-bottom: 12px;
        font-size: max(12px, 1.4rem);
        letter-spacing: 2.24px;
      }

      h1 {
        font-family: $font-family-head;
        font-size: clamp(40px, 5.6rem, 64px);
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 32px;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          background: url(../public/assets/images/icon-page-top-h1.svg) no-repeat top/cover;
          width: 100%;
          max-width: 510px;
          height: 22px;
          top: 35%;
        }
      }

      @include mq("md") {
        p {
          font-size: fs(14);
          margin-bottom: 0.8rem;
        }

        h1 {
          font-size: fs(32);
          line-height: 1.5;
          margin-bottom: 2rem;

          &::before {
            width: 28.564rem;
            max-width: 350px;
            height: 1.3rem;
            max-width: 350px;
            top: 38%;
          }
        }
      }
    }

    &-movie {
      margin-top: 48px;
      max-width: 362px;
      width: 38%;
      height: 96px;
      padding: 24px;
      background-color: $gray-50;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;
      position: relative;

      &::after {
        content: "";
        right: 0px;
        width: 24px;
        height: 96px;
        background-color: $bg-gray-50;
        position: absolute;
        top: 0;
      }


      img {
        padding: 24px 32px 16px 16px;
        background: $bg-gray-50;
        position: relative;
        z-index: 1;
        left: -24px;
        width: 88px;
        height: 88px;
        padding: 16px;

      }

      ul {
        display: flex;
        animation: loop-text 30s infinite linear 1s both;

        li {
          width: 27em;
        }

        @keyframes loop-text {
          from {
            transform: translateX(0);
          }

          to {
            transform: translate(-100%);
          }
        }
      }

      a {
        display: block;
        width: fit-content;
        margin-left: -3.2em;
        margin-top: 4px;
        font-size: 12px;
        text-decoration: underline;
        line-height: 1.3;
        font-weight: 500;
        font-family: Poppins;
        color: $text-red-600;
      }


    }

    @include mq("md") {
      &-movie {
        width: 87.2vw;
        max-width: 400px;
        position: absolute;
        bottom: max(-5.6rem, -50px);
        left: 50%;
        transform: translateX(-50%);
      }

    }
  }

  &__under {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    position: relative;

    img {
      width: 100vw;
      margin: 0 calc(50% - 50vw);
      height: auto;
      max-height: 500px;
      object-fit: cover;

    }

    .link-to-bottom {
      position: absolute;
      top: -50%;
      right: 12rem;
      width: 169px;
      height: 169px;
      transform: translateY(100%) rotate(-180deg);
      background: url(../public/assets/images/common/icon-footer-scroll.svg) no-repeat center/cover;
      content: "";
    }
  }
}

// About(スティーブ・ジョブズ)
.about {
  margin-bottom: 80px;

  @include mq("md") {
    margin-bottom: 7.2rem;
    overflow: hidden;
  }

  @include mq('md') {
    .c-btn__sm {
      margin: 2.4rem auto 0;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      background: url(../public/assets/images/img-text-jobs.svg) no-repeat top/cover;
      position: absolute;
      bottom: -52px;
      left: -64px;
      width: 616px;
      height: 186px;
    }

    .wrap-right {
      max-width: 511px;

      p {
        line-height: 2;
      }
    }
  }

  @include mq("md") {
    &__wrap {
      flex-direction: column;
      z-index: 1;

      &::before {
        width: 38.3rem;
        max-width: 710px;
        height: 10.5rem;
        bottom: initial;
        top: 18%;
        left: -4px;
        z-index: -1;
      }
    }
  }

  &__head {
    h2 {
      font-size: 36px;
      margin-bottom: 16px;

      @include mq('md') {
        font-size: fs(26);
        margin-bottom: fa(16);
      }
    }

    p {
      font-size: 14px;
      line-height: 130%;
      margin-bottom: 24px;

      @include mq('md') {
        font-size: fs(14);
        margin-bottom: fs(24);
      }
    }
  }

}

// こんなお困りごとありませんか？
.worry {
  background: $bg-gray-50 url(../public/assets/images/top/patteren-page-worry-bg.svg)repeat;
  padding: 96px 0 88px;

  @include mq('md') {
    padding: 6.4rem 0 7.2rem;
  }

  &__head {
    text-align: center;
    margin-bottom: 40px;

    h2 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 20px;

      @include mq('md') {
        font-size: fs(28);
        line-height: 1.3;
        margin-bottom: 2rem;

      }
    }

    @include mq('md') {
      p {
        font-size: fs(14);
      }
    }

    .dots-top {
      background-image: radial-gradient(circle at center, $text-red-600 20%, transparent 20%);
      background-position: top right;
      background-repeat: repeat-x;
      background-size: 1em 0.2em;
      padding-top: 0.2em;
    }
  }

  &__wrap {
    &-items {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;

      @include mq("md") {
        flex-direction: column;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      background-color: $bg-white;
      border-radius: 12px;
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05);

      @include mq("md") {
        flex-direction: column;
      }

      img {
        width: 21.4rem;
        height: 100%;
        border-radius: 12px 0 0 12px;
        object-fit: cover;

        @include mq("md") {
          width: 100%;
          border-radius: 1.2rem 1.2rem 0 0;
        }
      }

      dl {
        padding: 4rem;
        width: calc(100% - 21.4rem);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include mq('md') {
          flex-direction: column;
          width: 100%;
          padding: 3.2rem 2.4rem;
        }
      }

      h3 {
        color: $text-red-600;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.3;
        display: flex;
        align-items: baseline;
        gap: 16px;
        margin-bottom: 16px;

        @include mq('md') {
          flex-direction: column;
          gap: .8rem;
          font-size: fs(24)
        }

        span {
          color: $text-gray-500;
          font-size: 18px;

          @include mq('md') {
            font-size: fs(16)
          }
        }
      }

      dt {
        width: 100%;
      }

      .dd-group {
        display: flex;
        flex-wrap: wrap;
        row-gap: 8px;
        column-gap: 24px;
        padding-bottom: 24px;

        @include mq('md') {
          row-gap: 1.2rem;
          width: 100%;
        }


        dd {
          padding-left: 20px;
          position: relative;
          font-size: 14px;
          height: fit-content;

          @include mq('md') {
            font-size: fs(14);
            padding-left: 20px;
          }

          &::before {
            content: "";
            background: url(../public/assets/images/common/icon-double-circle.svg)no-repeat top/contain;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            @include mq('md') {
              transform: unset;
              top: .4rem;
            }
          }
        }
      }

      .item-solution {
        width: 100%;
        padding-top: 24px;
        border-top: 1px solid $border-gray-100;

        ul {
          display: flex;
          flex-direction: row;
          align-items: center;

          @include mq('md') {
            flex-direction: column;
          }

          p {
            padding-right: 35px;
            margin-right: 12px;
            position: relative;

            @include mq('md') {
              padding: 0;
              margin: 0 0 1.2rem;
            }

            &::after {
              content: "";
              background: url(../public/assets/images/common/icon-arrow-right-triple.svg)no-repeat top/cover;
              width: 31px;
              height: 13px;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }

            @include mq('md') {
              &::after {
                content: "";
                background: url(../public/assets/images/common/icon-arrow-right-triple-sp.svg)no-repeat top/cover;
                width: 11px;
                height: 13px;
                position: absolute;
                left: -2rem;
                top: 50%;
                transform: translateY(-50%);
              }

              &::before {
                content: "";
                background: url(../public/assets/images/common/icon-arrow-right-triple-sp.svg)no-repeat top/cover;
                width: 11px;
                height: 13px;
                position: absolute;
                right: -2rem;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }

          li {
            color: $white;
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
            background-color: $bg-red-600;
            padding: 4px;
            height: 23px;

            &:not(:last-child) {
              margin-right: 8px;

              @include mq('md') {
                margin-right: .4rem;
              }
            }
          }
        }

        .list-group {
          display: flex;
          flex-wrap: wrap;
          row-gap: 8px;
          width: calc(100% - 200px);

          @include mq('md') {
            row-gap: .4rem;
            width: 100%;
          }
        }
      }
    }
  }
}

// 全幅画像
article.full-width {
  width: 100vw;
  margin: 0 calc(50% - 50vw) 48px;

  img {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    height: auto;
    max-height: 390px;
    object-fit: cover;
  }

}

// ３つのサービス
.service {
  padding: 104px 0;

  @include mq("md") {
    padding: 6.4rem 0;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    @include mq("md") {
      flex-direction: column;
      margin-bottom: 3.2rem;
    }

    span {
      display: block;
      color: $text-red-600;
      margin-bottom: 24px;
      line-height: 1;
      font-size: 16px;
      font-family: $font-family-en;

      @include mq("md") {
        margin-bottom: 2.4rem;
      }
    }

    h2 {
      font-size: 32px;

      @include mq("md") {
        font-size: fs(28);
        margin-bottom: 2rem;
      }
    }

    p {
      @include mq('md') {
        font-size: fs(14);
      }
    }
  }

  &__wrap {
    ul {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      @include mq('md') {
        flex-direction: column;
      }
    }

    li {
      background-color: $bg-gray-50;
      border-radius: 12px;
      width: 320px;

      @include mq('md') {
        width: 100%;
      }

      a {
        padding: 32px 40px;
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        border-radius: 12px;

        @include mq('md') {
          padding: 3.2rem;
        }

        &::before {
          content: "→";
          color: $white;
          background-color: $bg-red-600;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          bottom: -40px;
          right: -40px;
          padding: 10px 14px;
        }
      }

      img {
        width: 150px;
        height: 102px;
        margin: 0 auto 16px;

        @include mq('md') {
          width: 15rem;
          height: 10.2rem;
          margin: 0 auto 1.6rem;
        }
      }

      h3 {
        text-align: center;
        font-weight: 500;
        line-height: 130%;
        font-size: 20px;
        font-family: $font-family-head;
        color: $text-red-600;
        margin-bottom: 8px;

        @include mq('md') {
          font-size: fs(20);
          margin-bottom: .8rem;
        }
      }

      p {
        font-size: 14px;

        @include mq('md') {
          font-size: fs(14);
        }
      }
    }
  }
}

// TSMマネジメント（画像箇所）
.img__tsm {
  position: relative;

  img {
    width: 73.8vw;
    height: auto;
    min-height: 300px;

    @include mq('md') {
      width: 93.866vw;
      aspect-ratio: 352.809/195;
      min-height: initial;
    }
  }

  span {
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 100%;
    height: auto;

    @include mq('md') {
      bottom: -7.2rem;
      left: 1rem;
      height: auto;

      @include mq('md') {
        overflow-x: hidden;
      }

      img {
        width: 100%;
        height: auto;
        aspect-ratio: 144/52;
      }
    }
  }
}

// ３つの特徴
.features {
  padding: 112px 0 88px;
  background: $bg-gray-50;
  position: relative;
  overflow: hidden;

  @include mq('md') {
    padding: 6.4rem 0;
  }

  &__head {
    text-align: center;
    margin-bottom: 32px;

    @include mq('md') {
      margin-bottom: 3.2rem;
    }

    span {
      display: block;
      color: $text-red-600;
      margin-bottom: 4px;
      line-height: 1;
      font-size: 16px;
      font-family: $font-family-en;
    }

    h2 {
      font-size: 32px;
      margin-bottom: 8px;
    }

    p {
      @include mq('md') {
        font-size: fs(14);
      }
    }
  }
&__bg-text {
  display: flex;
  position: absolute;
  bottom: -50px;
  white-space: nowrap;
  width: 100%;
  @include mq('md') {
    display: none;
  }
  p {
    font-size: 40rem;
    font-weight: 275;
line-height: 100%;
font-family: $font-family-en;
color: $white;

  }
}
  &__wrap {
    ul {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @include mq('md') {
        flex-direction: column;
        gap: 2rem;
      }
    }

    li {
      background-color: $white;
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      min-height: 478px;
      max-width: 320px;

      @include mq('md') {
        min-height: initial;
        max-width: initial;
      }

      h3 {
        text-align: center;
        line-height: 130%;
        font-size: 20px;
        font-weight: 500;
        font-family: $font-family-head;

        @include mq('md') {
          text-align: left;
          font-size: fs(20);
        }

        strong {
          color: $text-red-600;
          font-weight: 400;
        }

      }

      p {
        font-size: 14px;
        line-height: 2;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        padding: 32px;

        img {
          width: 104px;
          height: 104px;

          @include mq('md') {
            width: 8rem;
            height: 8rem;
          }
        }

        &::before {
          content: "→";
          color: $white;
          background-color: $bg-red-600;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          bottom: -40px;
          right: -40px;
          padding: 10px 14px;
        }

        @include mq('md') {
          padding: 3.2rem;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }
  }
}

//実績
.works {
  padding: 8rem 0;
  position: relative;
  overflow: hidden;

  @include mq('md') {
    padding: 6.4rem 0;
  }

  &::before {
    content: "";
    width: 55.8rem;
    height: 55.8rem;
    border-radius: 50%;
    background: var(--circle-grade-red, radial-gradient(50% 50% at 50% 50%, #FFF 35.32%, #FFF7F8 100%));
    position: absolute;
    left: -14rem;
    bottom: -24.8rem;

    @include mq('md') {
      width: 25.6rem;
      height: 25.6rem;
      top: -10.8rem;
      bottom: initial;
      left: initial;
      right: -8.8rem;
    }
  }

  &__head {
    text-align: left;

    span {
      display: block;
      color: $text-red-600;
      margin-bottom: 4px;
      line-height: 1;
      font-size: 16px;
      font-family: $font-family-en;
    }

    h2 {
      font-size: 32px;
      margin-bottom: 8px;

      @include mq('md') {
        font-size: fs(28);
      }
    }

    p {
      margin-bottom: 24px;

      @include mq('md') {
        font-size: fs(14);
        margin-bottom: 3.2rem;
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    @include mq('md') {
      flex-direction: column;
    }
  }

  .wrap__right {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  // ▼ スライダー
  .works__item {

    li {
      h4 {
        width: fit-content;
        min-width: 180px;
        margin: 0 auto 12px;
        text-align: center;
        color: $white;
        background: $bg-red-600;
        border-radius: 4px;
        font-size: 14px;
        line-height: 1;
        font-weight: 700;
        padding: 4px 20px;

        @include mq('md') {
          margin-bottom: 1.6rem;
        }
      }

      p {
        background: $white;
        text-align: center;
        height: 156px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 24px 32px;
        margin: 0 48px;

        @include mq('md') {
          height: 24rem;
          padding: 2.4rem;
          margin: 0 2.4rem;
          font-size: fs(14);
          font-weight: 700;
        }


        strong {
          color: $text-red-600;
          display: contents;
        }
      }
    }
  }

  @include mq('md') {
    .c-btn__sm {
      margin: 2.4rem auto 0;
    }
  }

  .swiper {
    width: 648px;
    height: auto;
    background: $bg-gray-50;
    padding: 24px 0px 40px;

    @include mq('md') {
      width: 87.4vw;
      max-width: 648px;
      padding: 2.4rem 0 8.4rem;
    }
  }



  .swiper.swiper-pagination-bullet {
    background-color: red;
  }

  .swiper--wrapper {
    display: flex;
    gap: 48px;
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination {
    bottom: 12px !important;
  }


  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin: 0 0 0 10px !important;
    background: #333 !important;
  }

  .swiper-pagination-bullet:first-child {
    margin: 0 !important;
  }

  .swiper-button-prev-1,
  .swiper-button-prev-2 {
    background: url(../public/assets/images/common/icon-arrow-circle-left.svg)no-repeat top/ cover;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 5px solid $white;
    left: 24px;
  }

  .swiper-button-next-1,
  .swiper-button-next-2 {
    background: url(../public/assets/images/common/icon-arrow-circle-left.svg)no-repeat top/ cover;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 5px solid $white;
    right: 24px;
    transform: scale(-1);
  }

  .swiper-button-prev-1,
  .swiper-button-next-1 {
    top: 50%;
  }

  .swiper-button-prev-2,
  .swiper-button-next-2 {
    top: 50%;
  }

  @include mq('md') {
    .swiper-pagination {
      bottom: 28px !important;
    }

    .swiper-button-prev-1,
    .swiper-button-next-1 {
      top: 88%;
    }

    .swiper-button-prev-2,
    .swiper-button-next-2 {
      top: 88%;
    }

    .swiper-button-prev-1 {
      background: url(../public/assets/images/common/icon-arrow-circle-left.svg)no-repeat top/ cover;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: 5px solid $white;
      left: 4.8rem;
    }

    .swiper-button-prev-2 {
      background: url(../public/assets/images/common/icon-arrow-circle-left.svg)no-repeat top/ cover;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: 5px solid $white;
      left: 7.2rem;
    }

    .swiper-button-next-1 {
      background: url(../public/assets/images/common/icon-arrow-circle-left.svg)no-repeat top/ cover;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: 5px solid $white;
      right: 4.8rem;
      transform: scale(-1);
    }

    .swiper-button-next-2 {
      background: url(../public/assets/images/common/icon-arrow-circle-left.svg)no-repeat top/ cover;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: 5px solid $white;
      right: 7.2rem;
      transform: scale(-1);
    }
  }

  // ▲ スライダー
}

// News お知らせ
.news {
  padding: 56px 0 64px;
  background-color: $bg-gray-50;

  &__inner {
    padding: 6.4rem;
    background-color: $white;
    border-radius: 12px;

    @include mq('md') {
      padding: 4.8rem 2.4rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @include mq('md') {
      margin-bottom: 3.2rem;
    }

    .c-btn__sm {
      margin-bottom: 8px;
    }

    span {
      display: block;
      color: $text-red-600;
      margin-bottom: 4px;
      line-height: 1;
      font-size: 16px;
      font-family: $font-family-en;
    }

    h2 {
      font-size: 32px;
      margin-bottom: 8px;
    }
  }

  &__wrap {
    &__items {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      div {
        position: relative;
        padding-right: 3.2rem;
        padding-bottom: 4rem;
        overflow: hidden;
        border-bottom: 1px solid #EFEFEF;

        &::after {
          position: absolute;
          right: -32px;
          bottom: -32px;
          width: 64px;
          height: 64px;
          padding: 6px 0px 0 10px;
          border-radius: 50%;
          background: #DF2238;
          content: "→";
          color: #fff;
          font-size: fs(16);
        }
      }
    }

    .c-news__date {
      display: flex;
      margin-bottom: 12px;
      gap: 12px;
      color: #BDBDBD;
      font-size: 14px;
      font-family: Poppins;

      span {
        height: 20px;
        padding: 4px 8px;
        border-radius: 4px;
        background: #FFF7F7;
        color: #DF2238;
        font-weight: 500;
        font-size: 12px;
        line-height: 1;
        font-family: "Noto Sans JP";
      }
    }

    .c-news__txt {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      max-height: 24px;
      -webkit-line-clamp: 1;
      font-size: 14px;
      line-height: 2;

      @include mq('md') {
        -webkit-line-clamp: 3;
        max-height: 8.4rem;
      }
    }

  }

  @include mq('md') {
    .c-btn__sm {
      margin: 3.2rem auto 0;
    }
  }
}

// FAQ よくあるご質問
.faq {
  margin: 88px 0 104px;
  padding: 64px 0;
  background-color: $bg-white;
  position: relative;
  overflow: hidden;
  z-index: 0;

  @include mq('md') {
    margin: 6.4rem 2.4rem;
    padding: 0;

  
  }
  &__inner {
    background-color: $bg-gray-50;
    border-radius: 12px;
    padding: 6.4rem;
    @include mq('md') {
      padding: 4.8rem 2.4rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;

    .c-btn__sm {
      margin-bottom: 8px;
    }

    span {
      display: block;
      color: $text-red-600;
      margin-bottom: 4px;
      line-height: 1;
      font-size: 16px;
      font-family: $font-family-en;
    }

    h2 {
      font-size: 32px;
      margin-bottom: 8px;

      @include mq('md') {
        font-size: fs(28);
        margin-bottom: 0;
      }
    }

    @include mq('md') {
      margin-bottom: 2rem;
    }
  }

  @include mq('md') {
    .c-btn__sm {
      margin: 3.2rem auto 0;
    }
  }
  &__bg-text {
    display: flex;
    position: absolute;
    bottom: 25%;
    white-space: nowrap;
    width: 100%;
    z-index: -1;
    @include mq('md') {
      display: none;
    }
  
    p {
      font-size: 40rem;
      font-weight: 275;
  line-height: 100%;
  font-family: $font-family-en;
  color: $text-gray-100;
  
    }
  }
}

// ▼ FAQ アコーディオン
.ac-wrap {
  width: 100%;

  dd {
    position: relative;

    &::before {
      content: "";
      background: url(../public/assets/images/common/icon-page-top-faq-a.svg)no-repeat top/cover;
      width: 48px;
      height: 48px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) scale(1);

      @include mq('md') {
        width: 4rem;
        height: 4rem;
        left: 0;
        top: 4.8rem;
      }
    }
  }
}

.ac-list {
  background: $bg-white;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05);
  position: relative;
  padding: 16px 20px;

  @include mq('md') {
    padding: 2rem;
  }

  &:not(:first-child) {
    margin-top: 16px;
  }


}

.ac-title {
  cursor: pointer;
  font-size: 14px;
  padding: 12px 24px 16px 64px;
  position: relative;

  @include mq('md') {
    padding-left: 5.6rem;
  }

  span {
    &::before {
      content: "";
      background: url(../public/assets/images/common/icon-page-top-faq-q.svg)no-repeat top/cover;
      width: 48px;
      height: 48px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) scale(1);

    }

    @include mq('md') {
      &::before {
        width: max(4rem, 40px);
        height: max(4rem, 40px);
        top: 50%;
        transform: translateY(-50%);
        left: 0rem;
      }
    }
  }

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    height: 2px;
    width: 15px;
    background: $bg-red-600;
    transform: rotate(90deg);
    transition: all .3s ease-in-out;
  }

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    height: 2px;
    width: 15px;
    background: $bg-red-600;
    transition: all .3s ease-in-out;
  }

  @include mq('md') {
    padding: 2rem 4.4rem 2rem 7.2rem;

    @include mq('md') {
      padding-left: 5.6rem;
    }

    &::before {
      width: 12px;
      right: 0px;
    }

    &::after {
      width: 12px;
      right: 0px;
    }
  }

  &.open {
    &::before {
      transform: rotate(180deg);
    }

    &::after {
      opacity: 0;
    }
  }
}

.ac-text {
  display: none;
  margin: 20px 0 0 0;
  padding: 20px 0px 8px 64px;
  border-top: 2px dotted $gray-100 ;
  font-size: 14px;

  @include mq('md') {
    margin: 0;
    padding: 2.4rem 2rem 0.4rem 4.8rem;
    font-size: fs(14);
  }
}

// ▲ FAQ アコーディオン


// ceo 代表者紹介
// .ceo {
//   padding-bottom: 104px;
//   position: relative;

//   @include mq('md') {
//     padding-bottom: 8rem;
//   }

//   &__inner {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     gap: 7.2rem;

//     @include mq('md') {
//       flex-direction: column;
//     }
//   }

//   &__head {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 24px;

//     @include mq('md') {
//       margin-bottom: 1.6rem;
//     }

//     span {
//       display: block;
//       color: $text-red-600;
//       margin-bottom: 4px;
//       line-height: 1;
//       font-size: 16px;
//       font-family: $font-family-en;
//     }

//     h2 {
//       font-size: 32px;
//       margin-bottom: 12px;

//       @include mq('md') {
//         margin-bottom: 1.2rem;
//         font-size: fs(28);
//       }
//     }

//     h3 {
//       font-size: 24px;
//       font-family: $font-family-head;
//       font-weight: 500;

//       @include mq('md') {
//         font-size: fs(24);
//       }
//     }
//   }


//   &__img {
//     max-width: 351px;
//     height: auto;
//     aspect-ratio: 351/499;

//   }

//   .ceo-wrap {
//     max-width: 577px;

//     .ceo__img-txt {
//       position: absolute;
//       right: 0;
//       top: -103.904px;
//       width: 60.7rem;
//       height: 20.8rem;

//       @include mq('md') {
//         top: min(43rem, 430px);
//         right: 0;
//         width: 24.1rem;
//         height: 12.6rem;
//       }
//     }

//     p {
//       font-size: 16px;
//       line-height: 2;
//       margin-bottom: 24px;
//     }

//     @include mq('md') {
//       margin-bottom: 0;
//     }
//   }

// @include mq('md') {
//   .c-btn__sm {
//     margin: 3.2rem auto 0;
//   }
// }
// }