@use 'foundation' as *;


.p-voice__sliderWrap {
  margin-top: prem(24);
  overflow: hidden;
  @include mq("md") {
    margin-top: prem(32);

  }
}

.p-voice__slider{
  max-width: 1040px;
  padding: 0 prem(30);
  margin: 0 auto;
  @include mq("md") {
    padding: 0;
    width: 85%;
  }
}

.slick-item{
  position: relative;
  background-color: $color-white;
  border-radius: prem(24);
  box-shadow: 0px 0px 24px 0px #00000014;
  padding: prem(24) prem(16);
  margin-right: prem(24);
  @include mq("md") {
    padding: prem(32) prem(30);
  }
}

.slick-track {
  display: flex;
}
.slick-slide {
  height: auto !important;
}

.slick-list{
  overflow: visible;
}

.p-voice-slider__top {
  display: flex;
  gap: prem(12);
}

.p-voice-slider__top-left {
  width: 100%;
  max-width: prem(88);
  @include mq("md") {
    max-width: prem(104);

  }
  img{
    width: 100%;
      object-fit: contain;
      aspect-ratio: 104/104;
  }
}

.p-voice-slider__office {
  background-color: #FEDFAA;
  color: $color-orange;
  font-size: prem(14);
  font-weight: $bold;
  letter-spacing: .1em;
  padding: prem(2) prem(8);
  border-radius: prem(8);
}

.p-voice-slider__office--orange{
  background-color: $color-orange;
  color: $color-white;
}

.p-voice-slider__title {
  font-size: prem(18);
  font-weight: $bold;
  margin-top: prem(8);
  @include mq("md") {
    font-size: prem(22);

  }
  span{
    color: $color-orange;
  }
}

.p-voice-slider__profile {
  margin-top: prem(23);
}

.p-voice-slider__profile-text {
  font-size: prem(14);
  padding: prem(12) prem(16);
  background-color: #F6F6F6;
  position: relative;
  border-radius: prem(12);
  &::before{
    position: absolute;
    content: "";
    top: prem(-14);
    left: prem(33);
    @include mq("md") {
      left: prem(44);

    }
    width: 0;
  height: 0;
  border-style: solid;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid #F6F6F6;
  border-top: 0;
  }
  span{
    font-weight: $bold;
  }
}

.p-voice-slider__text {
  margin-top: prem(16);
}



.slick-prev, .slick-next{
  z-index:100;
}
.slide-arrow {
  bottom: 0;
  cursor: pointer;
  margin: auto;
  position: absolute;
  top: 0;
  width: prem(32);
  @include mq("md") {
    width: prem(40);

  }
}
.prev-arrow {
  filter: drop-shadow(0px 0 24px #00000014);
  z-index: 90;
  left: prem(-20);
  @include mq("md") {
    left: prem(-60);

  }
  &.disabled{
    cursor: initial;
  }
}
.next-arrow {
  filter: drop-shadow(0px 0 24px #00000014);
  z-index: 90;
  right: prem(-20);
  @include mq("md") {
    right: prem(-60);

  }
  &.disabled{
    cursor: initial;
  }
}
.slide-dots {
  margin: 0;
  padding: 0;
  text-align: center;
  @include mq("md") {
    margin-top: prem(30);
  }
}
.slide-dots li {
  display: inline-block;
  margin: 0 prem(8);
}
.slide-dots li button {
  position: relative;
  text-indent: -9999px;
}
.slide-dots li button::before {
  border: 2px solid $color-orange;
  border-radius: 50%;
  content: "";
  cursor: pointer;
  height: prem(12);
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  position: absolute;
  top: 24px;
  width: prem(12);
}
.slide-dots li.slick-active{
  margin: 0 prem(15);
}
.slide-dots li.slick-active button::before {
  width: prem(40);
  background-color: $color-orange;
  border-radius: prem(32);
}
button {
  background: none;
  border: none;
  outline: none;
  padding: 0 7px;
}
