@use '../../foundation/index' as *;
@use '../../object/component/button' as *;

// 会社概要
.page-works {
    section {
        background-color: $bg-white;
        padding: 56px 64px;
        border-radius: 20px;

        &:not(:last-of-type) {
            margin-bottom: 40px;
        }

        @include mq('md') {
            padding: 3.2rem 2.4rem 4rem;
        }
    }

    h2 {
        z-index: 0;
        position: relative;
        margin-top: 24px;
        margin-bottom: 32px;
        padding-top: 32px;
        border-top: 1px solid #EFEFEF;
        color: #161A1E;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.7;
        font-family: "Zen Old Mincho", serif;

        @include mq('md') {
            margin-bottom: 2.4rem;
        }

        &::before {
            z-index: 1;
            position: absolute;
            top: -1px;
            left: 0;
            width: 75px;
            height: 1px;
            background: #DF2238;
            content: "";
        }
    }

    .consultant {
        font-size: 14px;
        line-height: 2;
        font-weight: 400;

        h3 {
            font-size: 18px;
            font-weight: 500;
            padding: 8px 0 20px;
        }
    }

    .consulting__wrap {


        dl {
            border-bottom: 1px solid $gray-100;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 14px;

            @include mq('md') {
                flex-direction: column;
            }

            @include mq('md') {
                &:not(:first-of-type) {
                    padding-top: 2.4rem;
                }
            }
        }

        dt {
            padding: 16px 20px 16px 0;
            width: 152px;
            font-weight: 700;

            @include mq('md') {
                width: 100%;
                padding: 0;
                margin-bottom: 0.8rem;
            }
        }

        dd {
            padding: 16px 20px;

            @include mq('md') {
                width: 100%;
                padding: 0 0 2.4rem 0;
            }
        }
    }

    @include mq('md') {
        .consultant__wrap {
            margin-bottom: 2.4rem;

            dl {
                flex-direction: column;
                align-items: flex-start;


                &:first-child {
                    dt {
                        padding-top: 1.6rem;

                    }
                }
            }

            dt {
                width: 100%;
                padding: 4rem 0 0;
                margin-bottom: 0.8rem;
            }

            dd {
                padding: 0 0 4rem;
            }

        }
    }

    .seminar__wrap {
        h4 {
            font-size: 14px;
            line-height: 2;
            font-weight: 400;
            margin-bottom: 32px;
        }

        &-items {
            display: flex;
            flex-direction: column;
            gap: 40px;

            h5 {
                color: $text-red-600;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.7;
                margin-bottom: 4px;

                @include mq('md') {
                    margin-top: .8rem;
                    padding-bottom: 1.6rem;
                }
            }

            dl {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                font-size: 14px;
                line-height: 1.7;

                @include mq('md') {
                    flex-direction: column;
                }
            }

            dt {
                width: 388px;
                padding: 16px 20px 16px 0;
                font-weight: 700;
                border-bottom: 1px solid $gray-100;
                display: flex;
                align-items: center;

                @include mq('md') {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 0.8rem;
                    border-bottom: none;

                    &:not(:first-of-type) {
                        padding-top: 2.4rem;
                    }
                }
            }

            dd {
                width: calc(100% - 388px);
                padding: 16px 20px;
                border-bottom: 1px solid $gray-100 ;

                @include mq('md') {
                    width: 100%;
                    padding: 0 0 2.4rem 0;
                }

                a {
                    color: $text-red-600;
                    text-decoration: underline;
                }

                img {
                    width: 279px;
                    height: 156.938px;
                    margin-top: 12px;

                    @include mq('md') {
                        margin-top: .8rem;
                    }

                }
            }
        }
    }

    .pic {

        &__wrap {
            h3 {
                padding: 8px 0 20px;
                font-weight: 500;
                font-size: 18px;
            }

            &__list {
                display: flex;
                flex-direction: column;
                gap: 40px;

                &-item {
                    li {
                        list-style: disc;
                        margin-left: 1.5em;
                        font-size: 14px;
                        line-height: 2;
                    }
                }
            }
        }
    }


}

// .page-works.ceo {
//     padding-top: 88px;
//     margin-top: 20px;
//     background-color: $bg-white;

//     @include mq('md') {
//         width: 100vw;
//         margin: 2rem calc(50% - 50vw) 0;
//         padding: 6.4rem 2.4rem 5.6rem;
//     }

//     .ceo__head-heading2 {
//         border: none;
//         margin: 0 0 12px;
//         padding: 0;

//         &::before {
//             content: none;
//         }
//     }

//     @include mq('md') {
//         .ceo-wrap p {
//             font-size: fs(14);
//             margin-bottom: 3.2rem;
//         }

//         .ceo-wrap .ceo__img-txt {
//             top: min(26rem, 260px);
//             right: -1.7rem;
//         }

//         .ceo__inner {
//             gap: 4rem;
//         }

//         .ceo__img {
//             aspect-ratio: unset;
//             max-width: unset;
//         }

//         .c-btn__sm {
//             margin: 0 auto;
//             display: block;
//         }
//     }
// }